body {
    background-color: rgb(6, 6, 81);
    /* background: linear-gradient(to bottom, cyan, purple); */
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
     margin: 20px /* adding some h1 styles */
}

.form {
    display: flex;
    justify-content: center; /* center form */
}

#text, #subForm, #resImg {
    font-size: 1.5rem; /* defining text size */
}

#subForm {
    background-color: green;
    color: white;
}

#resImg {
    background-color: orange;
    color: white; /* add better color styles to buttons */
}

.giphys {
	width: 100%;
}

.imgs {
	display: inline-block; /* inline-block to list next to each other */
	margin: 20px;
	width: 1000px; /* generate good margin and width */
	height: auto; 
	text-align: center;
	position: relative;
}

#giphyDiv {
    text-align: center;
	position: relative;
}